*{
    margin: auto;
}
/* MAIN */
main{
    width: 56%;
    background-color: #F2F2F2;
    height: 1000px;
    text-align: center;
}

/* ŚRODKOWA BIAŁA CZESC */
#srodek{
    width: 42%;
    background-color: white;
    
}
#srodek h4, h5{
    text-align: left;
}

/* FORMULARZ PLACEHOLDERY */
.linijka_formularza{
    width: 86%;
    display: inline-block;
    
}
.etykieta_do_formularza{
    width: 30%;
    background-color: black;
    color: white;
    float: left;
    height: 45px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.etykieta_do_formularza p{
    margin: 0;

   

}
.placeholder_formularza{
    float: left;
    width: 70%;
}
.placeholder_formularza input{
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #AEBBFF;
    border: 2px solid black;
    outline: none;
}

/* FORMULARZ BUTTONY */
.buttony{
    width: 50%;
    display: inline-block;
    
}

.submit{
    float: left;
    width: 50%;
    z-index: 2;
}

.submit input{
    width: 100%;
    background-color: #AEBBFF;
    color: black;
    height: 45px;
    margin-top: 30px;
    border: 2px solid black;
    
    
}
.submit input:hover{
    background-color: #bac5fc;
}
.reset{
    float: left;
    width: 50%;
    z-index: 3;
    
}

.reset:hover{
    position:absolute;
    width: 12%;
    transition: 0.5s;
    
    
}


.reset input{
    width: 100%;
    background-color: black;
    color: white;
    height: 45px;
    margin-top: 30px;
    border: 2px solid black;
  
}
.reset input:hover{
   
    background-color: #383838;
   
    
}